<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-8 mx-auto">
        <div class="card mt-5 bg-warning">
          <div class="card-body">
            <div class="text-center">
              <h4 class="card-title">Reset Password</h4>
              <p>Please enter your username and contact number.</p>
            </div>
            <hr>
            <form (ngSubmit)="onResetPassword()">
              <div class="form-group">
                <label for="forgotUsername"><b>Username:</b></label>
                <input type="text" name="username" class="form-control"
                  placeholder="Enter Username" [(ngModel)]="forgotCredentials.username" #username="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
              </div>
              <span *ngIf="username.invalid && username.touched" style="color: red">Please enter a valid username</span>

              <div class="form-group">
                <label for="forgotMobile"><b>contact Number:</b></label>
                <input type="text" name="contactnumber" class="form-control"
                  placeholder="Enter Mobile Number" [(ngModel)]="forgotCredentials.contactnumber" #contactnumber="ngModel" pattern="^[789]\d{9}$"  required>
              </div>
              <span *ngIf="contactnumber.invalid && contactnumber.touched" style="color:red">Please enter valid contact
                number</span>
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotCredentials.username || !forgotCredentials.contactnumber">Verify</button>
            </form>
            <div class="text-center mt-3" *ngIf="isValidUser">
              <button class="btn btn-success btn-block" (click)="onChangePassword()">Change Password</button>
            </div>
            <div class="text-center mt-3">
              <a routerLink="/login" class="text-light">Back to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>